doctype
html(lang="fr")
  head
    link(rel="stylesheet" type="text/css" href="style.css")
    script(src="snake/game.js" async)
    //script(src="snake/render.js")
    //script(src="snake/controller.js")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no")

    title Igor Descayrac - A simple game for a simple man

  body
    canvas#snake(width='800' height='600')
