h1 {
	font: Superclarendon;
	margin: 0 auto;
	text-align: right;
}

h2 {
	margin-top: 0;
}

.personal-info, .web-presence, .content {
	display: inline-block;
}

.personal-info
{
	float: left;
}

.web-presence {
	font-style: italic;
	float: right;
	text-align: right;
	vertical-align: top;
}

h3 {
	font-style: italic;
}

h3::after {
	content: ' ';
	text-decoration: underline;
}

body {
	margin: 10px auto;
	padding: 10px;
	max-width: 900px;
}

h4 {
	color: blue;
	margin-bottom: 0;
}

h4 + p {
	margin-top: 0;
}

em {
	color: blue;
	font-style: normal;
}

