h1 {
	font-style: Superclarendon;
	margin: 0 auto;
	text-align: right;
}

h2 {
	margin-top: 0;
}

.personal-info {
	display: inline-block;
}

.web-presence {
	display: inline-block;
	font-style: italic;
	float: right;
	text-align: right;
	vertical-align: top;
}

h3 {
	font-style: italic;
}

h3::after {
	content: ' ';
	text-decoration: underline;
}

body {
	margin: 20px 10px;
}
