$very-light-gray: #FBFBFB;
$dark-cyan: #057;
$light-blue: #49D;
$strong-blue: #27B;

@font-face {
  font-family: 'Futura';
  src: url('fonts/Futura.ttc');
}

@font-face {
  font-family: 'SuperClarendon';
  src: url('fonts/SuperClarendon.ttc');
}

body {
	font-family: Futura;
	background-color: $very-light-gray;
	margin: 10px auto;
	padding: 10px;
	max-width: 900px;
}

h1, h2 {
	font-family: SuperClarendon;
	color: $dark-cyan;
}

h1 {
	font: Superclarendon;
	margin: 0 auto;
	text-align: right;
}

h2 {
	margin-top: 0;
}

h3 {
	font-style: italic;
	&::after {
		content: ' ';
		text-decoration: underline;
	}
}

h4 {
	color: $strong-blue;
	margin-bottom: 0;

	& + p {
		margin-top: 0;
	}
}

em {
	color: $strong-blue;
	font-style: normal;
}

body {
	margin: 10px auto;
	padding: 10px;
	max-width: 900px;
}

.personal-info, .web-presence, .content {
	display: inline-block;
}

.personal-info
{
	float: left;
}

.web-presence {
	font-style: italic;
	float: right;
	text-align: right;
	vertical-align: top;
}
