html {
  background-color: transparent;
  height: 29.7cm;
  width: 21cm;
}

body {
  background-color: transparent;
  padding: 10px;
  box-shadow: none;
}

h3 {
  background-color: #6E6E6E;
}
h4 {
  color: #6E6E6E;
}

.portrait {
  height: 7em;
  margin-top: -1em;
}

a {
  color: initial;
  background-color: none;
}

a:after {
    content: ""; }

ul.detailed li { display:none; }
.noprint { display:none; }
