html {
  background-color: transparent;
  height: 29.7cm;
  width: 21cm;
}

body {
  background-color: transparent;
  padding: 10px;
  box-shadow: none;
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
}

.portrait {
  height: 7em;
  margin-top: -1em;
}

a, h3 {
  text-shadow: none;
}

a:after {
    content: ""; }

ul.detailed li { display:none; }
.noprint { display:none; }
