html {
  background-color: transparent;
  height: 29.7cm;
  width: 21cm;
}

body {
  background-color: transparent;
  padding: 10px;
  max-width: auto;
  box-shadow: none;
}

.portrait {
    height: 7em;
    margin-left: 40vw;
    margin-top: -1em;
}

a:after {
    content: ""; }

.noprint { display:none; }