$portrait_apparition_time: 2s;

$opening_animation_delay: 1s;
$opening_animation_time: 3s;

$fading_animation_time: 3s;

@mixin loop-children {
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 1.5}s;
      // font-size: #{(7 - $i)/10}em;
    }
  }
}

header {
  .name, .title {
    .fading-in {
      margin-top: 1em;
      float: right;
      height: 1.1em;
      width: 25ch;
      overflow: scroll;
      background: hsla(0, 100%, 100%, 25%);
      border-radius: .1em;
      padding: 0 .5em;

      h3 {
        line-height: 1.1em;
        animation: $fading_animation_time ease-in-out 0s 1 normal both fade-in;
        @keyframes fade-in {
          from { opacity: 0; }
          to   { opacity: 1; }
        }
        @include loop-children;
      }

    }
  }
}

.portrait-container img {
  animation: $portrait_apparition_time ease-in $opening_animation_delay+$opening_animation_time 1 fadeIn forwards;
}
