$gray: #7d7d7d;
$very_light_gray: lighten($gray, 50%);
$dark_cyan: #057;
$light_blue: #49D;
$strong_blue: #27B;

$portrait_height: 100px;
$portrait_apparition_time: 2s;

$opening_animation_delay: 1s;
$opening_animation_time: 3s;

* {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  overflow-x: hidden;

  font: italic 1.2em "Fira Sans", serif;
}

body {
  margin: 0;
}

header {
  color: $dark_cyan;

  .name, .title {
    font-style: italic;
    font-size: 3em;
    background: $dark_cyan;
    color: $very_light_gray;
    padding: .5em 1em .5em;
    margin: 0;

    height: 50vh;
    animation: reduceHeight 1.5s;
    animation-timing-function: ease-in;
    animation-delay: $opening_animation_delay + $opening_animation_delay;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    @keyframes reduceHeight {
      0% {
        height: 50vh;
      }
      100% {
        height: 3em;
      }
    }
  }

  h1 {
    margin: 0;
    animation: $opening_animation_time ease-in 0s 1 slideInFromLeft,
    $opening_animation_time ease-in 0s 1 fadeIn;
    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .title {
    background: $strong_blue;
    text-align: right;
    h2 {
      margin: 0;
      animation: $opening_animation_time ease-in 0s 1 slideInFromRight,
      $opening_animation_time ease-in 0s 1 fadeIn;
      @keyframes slideInFromRight {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0);
        }
      }
    }
  }
}

h3 {
}

h4 {
}

hr {
}

em {
}

a {
}

.portrait-container {
  height: $portrait_height;
  width: $portrait_height;
  margin-top: -$portrait_height;

  img {
    width: 100%;
    height: auto;

    opacity: 0;
    animation: $portrait_apparition_time ease-in $opening_animation_delay+$opening_animation_time 1 fadeIn forwards;
  }
}

.web-presence, .experience, .scholarship, .hobbies {
  display: inline-block;
}

.web-presence {
  list-style: none;
  float: right;
  text-align: right;
  margin-top: 0;

  li {
  }
  a:before {
    vertical-align: middle;
  }
  a:after {
  }
  a[href*="https://www.twitter"]:before {
    content: url(twitter.png);
  }
  a[href*="https://www.linkedin"]:before {
    content: url(linkedin.png);
  }
  a[href*="https://www.github"]:before {
    content: url(github.png);
  }
  a[href*="https://www.bitbucket"]:before {
    content: url(bitbucket.png);
  }
}

.tag {
}

.current-job {
}

.job-date {
  margin-left: 1ch;
}
